/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #003399;
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    background-color: #0055cc;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #003399;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0055cc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #003399;
    color: white;
}
.logo {
    width: 120px;         /* tamanho da logo */
    height: auto;
    display: block;
    margin: 0 auto 10px;  /* centraliza e dá espaçamento */
}
.FotoSistema {
    width: 720px;         /* tamanho da imagem */
    height: auto;
    display: block;
    margin: 0 auto 10px;  /* centraliza e dá espaçamento */
}
